#logo { margin: 10px 0 0 0;}
#intro h2 {text-shadow: 1px 1px 5px #000;}
#intro p {background: rgba(0,0,0,0.3);}
.main.style3 {text-align: center; padding: 3em 0 6em 0;}
.internal_pic {height: 190px;margin-top: 25px;width: 251px;}
.intenal-list {}
.intenal-list li {
    display: inline;
}