
<!-- Content Block
      ============================================ -->

      {{ range $element :=  .Data.Pages }}
                  {{ if eq .Section "home" }}
                      {{ if eq .Title "intro" }}
       <!-- Intro -->
      <section id="intro" style="background-image: url(images/overlay.png), url({{.Params.background_pic}});" class="main style1 dark fullscreen">
        <div class="content container 75%">
          <header>
            <h2>{{.Params.intro_title}}</h2>
          </header>
          <p>{{.Params.text}}</p>
          <footer>
            <a href="#one" class="button style2 down">More</a>
          </footer>
        </div>
      </section>
{{end}}
{{end}}
{{end}}
