
<!-- Content Block
      ============================================ -->

      {{ range $element :=  .Data.Pages }}
                  {{ if eq .Section "home" }}
                      {{ if eq .Title "second-section" }}
      <!-- Two -->
			<section id="two" style="background-image: url(images/overlay.png), url({{.Params.background_pic}});" class="main style2 left dark fullscreen">
				<div class="content box style2">
					<header>
						<h2>{{.Params.head_title}}</h2>
					</header>
					<p>{{.Params.disc}}</p>
				</div>
				<a href="#work" class="button style2 down anchored">Next</a>
			</section>
{{end}}
{{end}}
{{end}}
