{{ partial "head.html" . }}
<body>
{{ partial "header.html" . }}
<style type="text/css">

html {
  position: relative !important;
  min-height: 100% !important;
  height: auto !important;
}
body {

}
footer {
  position: absolute !important;
  bottom: 0 !important;
  width: 100% !important;

}

</style>
<section id="work" class="main style3 primary">
        <div class="content container">
          <header>
            <h2>{{ .Title }}</h2>

            <div class="container 75% ">
              <!-- <div class="row 0% images">
                <div class="3u 12u(mobile)"><img class="internal_pic" src="{{.Params.pic1}}" title="" alt=""></div>
                <div class="3u 12u(mobile)"><img class="internal_pic" src="{{.Params.pic2}}" title="" alt=""></div>
                <div class="3u 12u(mobile)"><img class="internal_pic" src="{{.Params.pic3}}" title="" alt=""></div>
                <div class="3u 12u(mobile)"><img class="internal_pic" src="{{.Params.pic4}}" title="" alt=""></div>
              </div> -->
              <div class="row">
              	<div class="text-center intenal-list">
	              	<ul>
		              	<li><img class="internal_pic" src="{{.Params.pic1}}"></li>
		              	<li><img class="internal_pic" src="{{.Params.pic2}}"></li>
		              	<li><img class="internal_pic" src="{{.Params.pic3}}"></li>
		              	<li><img class="internal_pic" src="{{.Params.pic4}}"></li>	              		
	              	</ul>
              	</div>
              	
              </div>
              
            </div>




            <p>{{ .Content }}</p>
          </header>

          
            

        </div>
      </section>
{{ partial "footer.html" . }}
</body>
</html>


